.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.tic-tac-toe{
  width: 300px;
  height: 300px;
  border: 2px solid black;
  margin: 50px auto;
}
.ttt-grid{
  width: 100px;
  height: 100px;
  border: 1px solid black;
  float:left;
  box-sizing: border-box;
  text-align: center;
  padding-top: 20px;
  font-size: 40px;
  font-weight: bold;

}